body {
  padding: 0;
  margin: 0;
}

#gauges {
  text-align: center;
}

.quad {
    height:0;
    padding-bottom: 33.33%;
    width:33%;
    display: inline-block;
}

#chart {
  position: absolute;
  bottom: 0;
  left:0;
}

#address {
  font-family: Helvetica;
  font-weight: 800;
  text-decoration: none;
  color: #ccc;
  position: absolute;
  right: 5px;
  bottom: 80px;
}
